body{ 
	margin:0px;
	background:#d3d3d3;
	background-repeat: no-repeat;
	font-family: sans-serif;
}

.img{
    margin-left: 8px;
}

.navigation_bar{
    float: left;
    height: 100%;
    position: fixed;
    background-color: #272727;
    width: 15%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: left;
    color: white;
    font-size: large;
    font-weight: lighter;
}
.expanded-flightcard1{
    padding: 0px 0px 500px 0px;
    float: left;
    margin-top: 33%;
    margin-left: 20%;
    width: 60%
}
.expanded-flightcard2{
    padding: 0px 0px 500px 0px;
    float: left;
    margin-top: 33%;
    margin-left: 20%;
    width: 60%
}

a, a:link, a:active, a:visited, a:hover{
    text-decoration: none;
    color: inherit;
}

.flightres{
	width: 60%;
	margin-left: 24%;
    margin-top: 110px;;
    position: absolute;
}

.actionbar{
	background-color: #479bc1;
	padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	color: white;
	font-size: 31px;
	font-family: Helvetica; 
	position: fixed;
    margin: 0px;
    width: 100%;
    margin-left: 15%;
}

.flightcards{
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin: 0px 0px 20px 0px;
    padding: 20px 0px 100px 0px;
    transition-duration: 0.8s;
    overflow: hidden;
    text-align: center;
    font-size: xx-large;
}

.flightcards:after {
    content: "";
    background: #e3e3e3;
    display: block;
    padding-top: 300%;
    opacity: 0;
    transition: all 0.8s
}

.flightcards:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#done{
	margin: 30px 30%;
	padding: 20px 20px;;
	font-size: 30px;
	width: 40%;
}

#flight1{
    position: absolute;
    width: 57%;
    margin-bottom: 70px;
    padding-bottom: 219px;
}

#flight2{
    position: absolute;
    width: 57%;
    margin-bottom: 70px;
    margin-left: 61%;
    padding-bottom: 219px;
}

h1{
    font-weight: lighter;
    
}
h2{
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    color: #479bc1;
}

.sel{
	float:right; 
	margin-right: 20px; 
	background-color: #fff; 
	color: orange;
	padding: 10px;
	text-transform: capitalize;
	border-radius: 10px;
	border: 1px solid orange;
	width:20%;
}

.ripple{
	position:relative;
	overflow:hidden;}

.ripple:after{
	content:"";
	background:#e3e3e3;
	display:block;
	position:absolute;
	border-radius:100%;
	padding-top:240%;
	padding-left:240%;
	margin-top:-120%;
	margin-left:-120%;
	opacity:0;
	transition:all 1s}

.ripple:active:after{
	padding-top:0;
	padding-left:0;
	margin-top:0;
	margin-left:0;
	opacity:1;
	transition:0s}

table{
    position: absolute;
    margin-left: 18%;
    margin-top: 9%
    
}

.button1{

    position: absolute;
    margin-left: 84.5%;
    margin-top: 12.5%;
}
.button2{

    position: absolute;
    margin-left: 84.5%;
    margin-top: 15.65%;
}
.button3{

    position: absolute;
    margin-left: 84.5%;
    margin-top: 18.75%;
}



